**/.DS_Store
**/.venv
**/.classpath
**/.env
**/.bck
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.terraform
**/.terraform.lock.hcl
**/.local
**/node_modules
**/npm-debug.log
**/yarn-error.log
**/yarn-debug.log
**/yarn.lock
**/package-lock.json
**/package.json
**/package.json.bak
**/package.json.bak.*
**/package.json.*
**/package.json.bak.*
